*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
.container{
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 100px;
}
.table{
    width: 90%;
}
.thead{
    color: crimson;
    font-size: 30px;
    background-color: yellow;
}
.tbody{
    background-color: aqua;
}
.tbody td{
    padding: 10px;
    font-size: 25px;
}
.delete{
    width: 50%;
    height: 100%;
    margin-left: 60px;
    color: crimson;
    border: none;
    background-color: white;
    border-radius: 5px;
}
.delete:hover{
    background-color: red;
    color: white;
}
.edit:hover{
    background-color: greenyellow;
    color: black;
}
.create{
    display: flex;
    align-items: center;
    justify-content: center;
}
.need{
    width: 300px;
    height: 50px;
    background-color: rgb(76, 210, 76);
    border:none;
    border-radius: 15px;
    font-size: 25px;
}
.need:hover{
    color: white;
    background-color: tomato;
    border: none;
}
.center{
    display: flex;
    justify-content: center;
    margin-top: 200px;
}
.form{
    font-size: 30px;
    padding-left: 20px;
}
.form-btn{
    font-size: 30px;
    width: 400px;
}
